<mat-card class="card-titulo">
    <h2>
        Listagem Geral
    </h2>
</mat-card>
<br />
<mat-card class="card-barra-botoes">
    <button mat-raised-button color="accent" routerLink="/cad-cliente"><mat-icon>add</mat-icon> Novo Cliente</button>
</mat-card>
<br />
<mat-card class="card-tabela">
    <table mat-table [dataSource]="listaClientes" class="full-width">
        <ng-container matColumnDef="foto">
            <th mat-header-cell *matHeaderCellDef>Foto</th>            
            <td mat-cell *matCellDef="let cliente">
                <div *ngIf="cliente.foto">
                    <img width="60px" height="60px" [src]="pathFotos + cliente.foto" class="foto" />
                </div>                
            </td>
        </ng-container>

        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef>Cliente</th>
            <td mat-cell *matCellDef="let cliente">{{ cliente.cliente }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> E-Mail Principal</th>
            <td mat-cell *matCellDef="let cliente"> {{ cliente.email }}</td>
        </ng-container>

        <ng-container matColumnDef="emailSecundario">
            <th mat-header-cell *matHeaderCellDef> E-Mail Secundário</th>
            <td mat-cell *matCellDef="let cliente"> {{ cliente.emailSecundario }}</td>
        </ng-container>

        <ng-container matColumnDef="dataCadastro">
            <th mat-header-cell *matHeaderCellDef> Data Cadastro</th>
            <td mat-cell *matCellDef="let cliente"> {{ cliente.dataCadastro }}</td>
        </ng-container>

        <ng-container matColumnDef="celular">
            <th mat-header-cell *matHeaderCellDef> Celular</th>
            <td mat-cell *matCellDef="let cliente"> {{ cliente.celular }}</td>
        </ng-container>

        <ng-container matColumnDef="btnEditar">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let cliente">                
                <button mat-button color="primary" routerLink="/cad-cliente/{{ cliente.id }}/editar"><mat-icon>mode</mat-icon> Editar</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="btnExcluir">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let cliente">                
                <button mat-button color="warn" routerLink="/cad-cliente/{{ cliente.id }}/excluir"><mat-icon>clear</mat-icon> Excluir</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunas"></tr>
        <tr mat-row *matRowDef="let linha; columns: colunas"></tr>

    </table>
</mat-card>

